*{
    color: white;
}

.imagen{ 
    width: 100px; /* Tamaño deseado para las imágenes */
    height: 100px;
    object-fit: cover;/* Opcional: para recortar las imágenes al tamaño especificado */
}

.bg-cyanG{
    background-color: #03333c;
}

.border-azul{

    border-color: #0dc6ec ;
}

.bg-cyan{
    background-color: #076578;
}